$primary-color : #6EC5C4;
$secondary-color :#E9C5D3;
$tertiary-color :#F7E2A7;
$quaternary-color :#C9DCE5;
$quinary-color : #D5B7DC;
$text-color :#231815;

body{
    font-family: 'poppins', sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}